<div class="card p-1">
    <div class="grid">
        <div class="col-12 mt-3">
            <!-- <h4 class="ml-3">{{ 'HOME.WorkOrder' | translate }}</h4> -->
             <div class="flex flex-warp justify-content-between"> 
                 <h4 class="ml-3">Work Order</h4>
                 <div class="lg:col-2 md:col-2 col-3" *ngIf="userType=='Surveyor'">
                    <label for="username">Dealer *</label>
                    <p-dropdown inputId="sourceType" class="w-full" styleClass="w-full" optionLabel="CodeDesc"
                        [options]="DealerDropList" [(ngModel)]="DealerDrop" optionValue="Code" placeholder="Select Dealer">
                    </p-dropdown>
                </div>
             </div>
            <div class="m-2 p-2">
                <form [formGroup]="form">
                    <formly-form [form]="form" [fields]="Fields" [model]="productItem"></formly-form>
                </form>
            </div>
        </div>
    </div>
    <div class="flex justify-content-center">
        <p-button label="Back"  (click)="getBack()" class="p-3 mr-0" styleClass="p-button-outlined" icon="pi pi-chevron-left"></p-button>
        <!-- <p-button class="p-3 text-l pi-button mr-0" [label]="'LOGIN.Save & Next' | translate" (click)="onSubmit()"></p-button> -->
        <p-button class="p-3 text-l pi-button mr-0" *ngIf="Completed!='Completed'" label="Save & Next" (click)="onSubmit()"></p-button>
    </div>
</div>
