<div class="card">
    
    <p-tabView [activeIndex]="tabIndex"  (onChange)="onTabClicked($event)">
        <p-tabPanel [header]="'CRM.Lead' | translate">
            <div class="grid mb-2 mt-2">
                <div class="col-12 md:col-4 lg:col-4">
                <label for="username">{{'CRM.Branch' | translate}}</label><span class="text-danger">*</span>
                <p-dropdown inputId="make" class="w-full" styleClass="w-full"  optionLabel="CodeDesc" optionValue="Code" [placeholder]="'CRM.Select' | translate">
                </p-dropdown>
                </div>
                <div class="col-12 sm:col-6 md:col-8">
                    <div class="flex justify-content-start sm:justify-content-end  flex-wrap">
                      
                      <p-button  icon="pi pi-plus" (click)="openPopup('Lead')" [label]="'CRM.AddNewLead' | translate" severity="warning" size="small"></p-button>
                    </div>
                  </div>
            </div>
            <ng-container >
                <p-table #dtEmployeeExist   [value]="leadList"
                [tableStyle]="{'min-width':'50rem'}" [paginator]="true" rows="5"  
                [globalFilterFields]="['LeadId','FirstName','Mobile','EntryDate']">
                <ng-template pTemplate="caption">
                    <div class="flex flex wrap justify-content-end">
                        <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dtEmployeeExist.filterGlobal($event.target.value, 'contains')" [placeholder]="'DASHBOARD.GlobalSearch' | translate" />
                        </span>
                    </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="column" *ngFor="let column of columns">{{column}}<p-sortIcon [field]="column"></p-sortIcon></th>
                    </tr>
                </ng-template >
                <ng-template pTemplate="body" let-Lead let-i="rowIndex">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{Lead.CustomerReferenceNo}}</td>
                        <td>{{Lead.ClientName }}</td>
                        <td>{{Lead.WhatsappNo}}</td>
                        <td>{{Lead.EntryDate}}</td>
                        <td>{{Lead.UpdatedDate}}</td>
                        <td><p-button  icon="pi pi-pencil" class="p-button-outlined" severity="warning" size="small" (click)="editOpen(Lead)"></p-button>
                        </td>
                        <td><p-button  icon="pi pi-eye" class="p-button-outlined" severity="warning" size="small" (click)="getEditEnquiry(Lead)"></p-button>
                        </td>
                    </tr>
                </ng-template>
                </p-table>
            </ng-container>
        </p-tabPanel>
         <p-tabPanel [header]="'CRM.Enquiry' | translate">
            <div class="grid mb-2 mt-2">
                <div class="col-12 md:col-4 lg:col-4">
                <label for="username">{{'CRM.Branch' | translate}}</label><span class="text-danger">*</span>
                <p-dropdown inputId="make" class="w-full" styleClass="w-full"  optionLabel="CodeDesc" optionValue="Code" [placeholder]="'CRM.Select' | translate">
                </p-dropdown>
                </div>
                <div class="col-12 md:col-4 lg:col-4">
                    <label for="username">{{'CRM.EnquiryType' | translate}}</label><span class="text-danger">*</span>
                    <p-dropdown inputId="make" class="w-full" styleClass="w-full"  optionLabel="CodeDesc" optionValue="Code"  [options]="EnquiryTypeList" [placeholder]="'CRM.Select' | translate">
                    </p-dropdown>
                </div>
            </div>
            <ng-container >
                <p-table #dtEmployeeExist   [value]="EnquiryList"
                [tableStyle]="{'min-width':'50rem'}" [paginator]="false" rows="5"  
                [globalFilterFields]="['QuoteNo','RequestReferenceNo','ClientName','OverallPremiumLc']">
                <ng-template pTemplate="caption">
                    <div class="flex flex wrap justify-content-end">
                        <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dtEmployeeExist.filterGlobal($event.target.value, 'contains')" [placeholder]="'DASHBOARD.GlobalSearch' | translate" />
                        </span>
                    </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="column" *ngFor="let column of Enquirycolumns">{{column}}<p-sortIcon [field]="column"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-Enquiry let-i="rowIndex">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{Enquiry.EnquiryId}}</td>
                        <td>{{Enquiry.LeadId}}</td>
                        <td>{{Enquiry.LobId}}</td>
                        <td>{{Enquiry.ProductId}}</td>
                        <td>{{Enquiry.RejectedDate}}</td>
                        <td>{{Enquiry.UpdatedDate}}</td>
                        <td><p-button  icon="pi pi-pencil" class="p-button-outlined" severity="warning" size="small" (click)="openPopup('Enquiry')"></p-button>
                        </td>
                        <td><p-button  icon="pi pi-eye" class="p-button-outlined" severity="warning" size="small" (click)="openPopup('EnquiryEdit')"></p-button>
                        </td>
                    </tr>
                </ng-template>
                </p-table>
            </ng-container>
        </p-tabPanel> 
        <p-tabPanel [header]="'CRM.Qoute' | translate">
            <div class="grid">
                <div class="col-12 sm:col-6 md:col-4">
                  <h3 class="mr-3">{{ 'CRM.Qoute' | translate}}</h3>
                  <!-- <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb> -->
                </div>
                <!-- <div class="col-12 sm:col-6 md:col-8">
                  <div class="flex justify-content-start sm:justify-content-end  flex-wrap">
                    
                    <p-button  icon="pi pi-plus" (click)="openPopup('Enquiry')" [label]="'CRM.AddNewEnquiry' | translate" severity="warning" size="small"></p-button>
                  </div>
                </div> -->
              </div>
              <p-divider></p-divider>
            <div class="flex justify-content-start  flex-wrap">
                <p-button  icon="pi pi-receipt" [label]="'CRM.FreshQuotes' | translate" severity="warning" size="small"></p-button>&nbsp;&nbsp;&nbsp;
                <p-button  icon="pi pi-receipt" [label]="'CRM.AdditionalInformationRequired' | translate" severity="warning" size="small"></p-button>&nbsp;&nbsp;&nbsp;
                <p-button  icon="pi pi-receipt" [label]="'CRM.AdditionalInformationProvided' | translate" severity="warning" size="small"></p-button>&nbsp;&nbsp;&nbsp;
                <p-button  icon="pi pi-receipt" [label]="'CRM.Quotesent' | translate" severity="warning" size="small"></p-button>&nbsp;&nbsp;&nbsp;
                <p-button  icon="pi pi-receipt" [label]="'CRM.BusinessConverted' | translate" severity="warning" size="small"></p-button>&nbsp;&nbsp;&nbsp;
                <p-button  icon="pi pi-receipt" [label]="'CRM.BusinessLost' | translate" severity="warning" size="small"></p-button>&nbsp;&nbsp;&nbsp;
                <p-button  icon="pi pi-receipt" [label]="'CRM.PolicyGenratedQuote' | translate" severity="warning" size="small"></p-button>&nbsp;&nbsp;&nbsp;

            </div>
            <div class="grid mb-2 mt-2">
                <div class="col-12 md:col-4 lg:col-4">
                <label for="username">{{'CRM.Branch' | translate}}</label><span class="text-danger">*</span>
                <p-dropdown inputId="make" class="w-full" styleClass="w-full"  optionLabel="CodeDesc" optionValue="Code" [placeholder]="'CRM.Select' | translate">
                </p-dropdown>
                </div>
            </div>
            <ng-container >
                <p-table #dtEmployeeExist   [value]="QuoteList"
                [tableStyle]="{'min-width':'50rem'}" [paginator]="false" rows="5"  
                [globalFilterFields]="['QuoteNo','RequestReferenceNo','ClientName','OverallPremiumLc']">
                <ng-template pTemplate="caption">
                    <div class="flex flex wrap justify-content-end">
                        <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dtEmployeeExist.filterGlobal($event.target.value, 'contains')" [placeholder]="'DASHBOARD.GlobalSearch' | translate" />
                        </span>
                    </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th [pSortableColumn]="column" *ngFor="let column of Quotecolumns">{{column}}<p-sortIcon [field]="column"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-Qoute>
                    <tr>
                        <td>{{Qoute.SNo}}</td>
                        <td>{{Qoute.EnquiryId}}</td>
                        <td>{{Qoute.CustomerName}}</td>
                        <td>{{Qoute.LOBName}}</td>
                        <td>{{Qoute.ProductName}}</td>
                        <td>{{Qoute.QuoteCount}}</td>
                    </tr>
                </ng-template>
                </p-table>
            </ng-container>
        </p-tabPanel> 
    </p-tabView>
</div>

<p-dialog header="Lead" [modal]="true" [(visible)]="visibleLead" [style]="{ width: '70rem' }">

</p-dialog>

<p-dialog header="Enquiry" [modal]="true" [(visible)]="visibleEnquiry" [style]="{ width: '70rem' }">
    <div class="grid" >
        <div class="col-12 lg:col-7 md:col-7 mt-2">
            <h4 class="ml-3 mt-5">{{ 'HOME.PersonalInformation' | translate }}</h4>
            <div class="m-2 p-2">
                <form [formGroup]="form">
                    <formly-form [form]="form" [fields]="customerInfoFields" [model]="productItem"></formly-form>
                </form>
            </div>
            <!-- <p-divider></p-divider> -->
        </div>
        <div class="col-12 lg:col-5 md:col-5 mt-5">
            <div class="card">
                <div class="flex flex-wrap justify-content-between">
                    <label for="head"><h5>Customer Details</h5></label>
                    <label for="">L21351</label>
                </div>
                <p-divider></p-divider>
                <div class="flex flex-wrap justify-content-between">
                    <label for="head"><b>Client Name</b></label>
                    <label for="">TEST CUSTOMER</label>
                </div>
                <p-divider></p-divider>
                <div class="flex flex-wrap justify-content-between">
                    <label for="head"><b>Address1</b></label>
                    <label for="">No: xyz Street</label>
                </div>
                <p-divider></p-divider>
                <div class="flex flex-wrap justify-content-between">
                    <label for="head"><b>Address2</b></label>
                    <label for="">No: xyz Street</label>
                </div>
                <p-divider></p-divider>
                <div class="flex flex-wrap justify-content-between">
                    <label for="head"><b>City</b></label>
                    <label for="">CUDDALORE</label>
                </div>
                <p-divider></p-divider>
                <div class="flex flex-wrap justify-content-between">
                    <label for="head"><b>State</b></label>
                    <label for="">TAMIL NADU</label>
                </div>
                <p-divider></p-divider>
                <div class="flex flex-wrap justify-content-between">
                    <label for="head"><b>Mobile No</b></label>
                    <label for="">1234567890</label>
                </div>
                <p-divider></p-divider>
                <div class="flex flex-wrap justify-content-between">
                    <label for="head"><h5>Intermediary Details</h5></label>
                </div>
                <p-divider></p-divider>
                <div class="flex flex-wrap justify-content-between">
                    <label for="head"><b>Intermediary Code</b></label>
                    <label for="">OA002034</label>
                </div>
                <p-divider></p-divider>
                <div class="flex flex-wrap justify-content-between">
                    <label for="head"><b>Intermediary Name</b></label>
                    <label for="">L21351</label>
                </div>
                <p-divider></p-divider>
            </div>
        </div>
    </div>
    <div class="flex justify-content-center">
        <p-button (click)="visibleLead=false"  [label]="'MOTORQUOTE.Cancel' | translate" class="p-button-outlined"
            size="small"></p-button>&nbsp;
        <p-button (click)="saveLead()"  [label]="'MOTORQUOTE.Submit' | translate"
            size="small"></p-button>&nbsp;
       
    </div>
    </p-dialog>